name: Package

on:
  workflow_run:
    workflows: [Workflow Tests]
    types:
      - completed

jobs:
  release:
    if: ${{ github.ref_name == 'main' && github.event.workflow_run.conclusion == 'success' }}
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_AUTH_TOKEN }}

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Setup package.json
        run: echo '{"name":"alfred-chromakey-workflow", "devDependencies":{"@semantic-release/changelog":"^6.0.3","@semantic-release/git":"^10.0.1","@semantic-release/exec":"^7.0.3","semantic-release":"^24.2.3"}}' > package.json

      - name: Install dependencies
        run: bun install

      - name: Release
        run: bun run semantic-release
        env:
          GH_TOKEN: ${{ secrets.GH_AUTH_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
